


.img-preview {
    width: 356px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    
    margin-bottom: 1em;    
}
header {
background-color: #DFB887;
height: 35px;
width: 100%;
opacity: .9;
margin-bottom: 10px;
}
div.about {
padding: 10px 0 30px 0;
background-color: #E6E6FA;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
    
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width:600px) {
  body {
    font-size:1.25rem;
    width:100%;
    height:100%;
  }
}

@viewport{
    zoom:1.0;
    width:extend-to-zoom;
}

@-ms-viewport{
    width:extend-to-zoom;
    zoom:1.0;
}

